torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
torchcrepe==0.0.23
numpy==2.0.2
pandas==2.2.2
scipy==1.15.3
librosa==0.9.1
matplotlib==3.9.0
tqdm==4.67.1
einops==0.8.1
protobuf==5.29.4
soundfile==0.13.1
pydub==0.25.1
pyloudnorm==0.1.1
praat-parselmouth==0.4.5
webrtcvad==2.0.10
edge-tts==7.0.2
audiomentations==0.24.0
pedalboard==0.8.1
ffmpeg-python==0.2.0
faiss-cpu==1.11
ml_collections==1.1.0
timm==1.0.15
wandb==0.19.11
accelerate==1.7.0
bitsandbytes==0.46.0
tokenizers==0.19
huggingface-hub==0.28.1
transformers==4.41
./fixed/fairseq_fixed-0.13.0-cp311-cp311-linux_x86_64.whl
segmentation_models_pytorch==0.5.0
torchseg==0.0.1a4
demucs==4.0.0
asteroid==0.7.0
prodigyopt==1.1.2
torch_log_wmse==0.3.0
rotary_embedding_torch==0.6.5
local-attention==1.11.1
tenacity==9.1.2
gradio==5.38.0
omegaconf==2.3.0
beartype==0.18.5
spafe==0.3.2
torch_audiomentations==0.12.0
auraloss==0.4.0
onnxruntime-gpu>=1.17
yt_dlp
python-magic
pyngrok

